{% extends 'base.html' %}
<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>

{% load crispy_forms_tags %}
{% block content %}
<div class ='row'>

<div class ='col-sm-6 col-sm-offset-3'>
 <form  action="" method="POST" class="form-group" role="search">
     {{suggestion | crispy}}{% csrf_token %}

<button type="submit" name="formcomplete" class="btn btn-default" href="#">Submit</button>
 </form>
</div>
</div>
{% endblock %}
